*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(124, 124, 190);

}

.container1{
    /* font-size: relative;
    text-align: bottom; */
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    perspective: 62rem;
}
.box1{
    height: 12.5rem;
    width: 12.5rem;
    position: absolute;
    top: 9.375rem;
    left: 9.375rem;
    /* transform: rotate(-90deg); */
    transform-style: preserve-3d;
    transform: rotateY(30deg);
    animation: animate 5s infinite;
}


@keyframes animate {
    0%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    75%{
        transform: rotateX(-45deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(-45deg);
    }
}

.container1 .box1 .card{
    height: 12.5rem;
    width: 12.5rem;
    text-align: center;
    padding: 6.25rem 0 rem;
    color: black;
    background: #fff;
    border: 0.13rem solid rgb(12, 12, 12);
    font-size: 2rem;
    box-sizing: border-box;
    position:absolute;
    transition: all 1s;
}

#front{
    transform: translateZ(6.25rem);
}

#back{
    transform: translateZ(-6.25rem);
}

#left
{
    right: 6.25rem;
    transform: rotateY(-90deg);

}

#right
{
    left: 6.25rem;
    transform: rotateY(90deg);

}

#top
{
    bottom: 6.25rem;
    transform: rotateX(90deg);
}

#bottom
{
    top: 6.25rem;
    transform: rotateX(-90deg);
}


input{
    height: 50px;
    width: 6.25rem;
    background-color: #ccc;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: -6.25rem;
    left: 10.9375rem;
}


input:focus~ .box1 #front{
    transform: translateZ(11.25rem) rotateY(360deg);
}

input:focus~ .box1 #back{
    transform: translateZ(-1.25rem) rotateY(360deg);
}

input:focus~ .box1 #left{
    right: 11.25rem;
}

input:focus~ .box1 #right{
    left: 11.25rem;
}

input:focus~ .box1 #top{
    bottom: 11.25rem;
}

input:focus~ .box1 #bottom{
    top: 11.25rem;
}